.reviews
  height: 755px
  background-image: url(../img/reviews-bg.jpg)
  backdrop-filter: blur(10px)
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  &__title
    margin-top: 30px
  &__subtitle
    margin-top: 20px
    font-size: 2.7rem
