@font-face {
  font-family: "Days";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Days.woff2") format("woff2");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
}
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
}

section {
  padding: 40px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: Days, sans-serif;
  line-height: 1.2;
  color: #67adde;
}

h1 {
  font-family: Days, sans-serif;
  font-weight: 700;
  font-size: 5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-family: Gilroy, sans-serif;
  font-size: 2.2rem;
  letter-spacing: 0.02em;
  color: #000;
}

h6 {
  font-family: Gilroy, sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.02em;
  color: #757575;
}

img {
  max-width: 100%;
}

a {
  color: #000;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1520px;
}

.btn {
  background-color: #74b3e0;
  color: #fff;
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.15;
  border: 2px solid #67adde;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  transition: color 0.3s, background-color 0.3s;
}
.btn:hover {
  color: #67adde;
  background-color: #fff;
}
.btn_active {
  border: 2px solid #ff0081;
  background-color: #ff0081;
}
.btn_active:hover {
  color: #ff0081;
  background-color: #fff;
}

input {
  width: 100%;
  padding: 18px 30px;
  border: 2px solid black;
  border-radius: 3px;
  margin-bottom: 10px;
}
input::-moz-placeholder {
  text-align: center;
  color: #7D7878;
  font-size: 1rem;
  font-weight: 400;
}
input:-ms-input-placeholder {
  text-align: center;
  color: #7D7878;
  font-size: 1rem;
  font-weight: 400;
}
input::placeholder {
  text-align: center;
  color: #7D7878;
  font-size: 1rem;
  font-weight: 400;
}
input[type=tel]:hover::-moz-placeholder {
  text-align: left;
}
input[type=tel]:hover:-ms-input-placeholder {
  text-align: left;
}
input[type=tel]:hover::placeholder {
  text-align: left;
}

.text-light {
  color: #fff;
}

.text-active {
  color: #ff0081;
}

.text-secondary {
  color: #969696;
}

@media (max-width: 992px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  .btn {
    font-size: 1.4rem;
  }
}
.cards {
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  padding-bottom: 20px;
  width: 100%;
  max-width: 350px;
  height: auto;
  font-family: Gilroy, sans-serif;
  border: none;
  border-radius: 28px;
  background-color: #fcfcfc;
  box-shadow: 0px 2.75591px 11.0236px rgba(0, 0, 0, 0.15);
}
.card__img img {
  width: 100%;
  height: 213px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 28px 28px 0 0;
  transition: scale 0.3s;
}
.card__img img:hover {
  scale: 1.05;
}
.card__title {
  margin-top: 20px;
  font-weight: 400;
}
.card__btns {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.card__subtitle {
  margin-top: 20px;
}
.card__btn {
  width: 100%;
  max-width: 273px;
  padding: 15px 45px;
  line-height: 1.25;
  letter-spacing: -0.03em;
}

@media (max-width: 768px) {
  .card__btn {
    max-width: 250px;
  }
}
.header {
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
  row-gap: 10px;
}
.header .logo__img {
  width: 166px;
  height: auto;
}
.header .navbar__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.header .navbar__link {
  font-size: 2rem;
  font-weight: 500;
  color: #757575;
  line-height: 1.05;
  white-space: nowrap;
  transition: color 0.3s;
}
.header .navbar__link:hover {
  color: #ff0081;
}
.header .tel__link {
  padding: 16px 52px;
  display: inline-block;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.05;
  letter-spacing: 0.11em;
}

.cart__btn {
  position: relative;
}
.cart__btn .cart__count {
  width: 16px;
  height: 16px;
  position: absolute;
  top: -10px;
  right: -4px;
  font-family: "Gilroy", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.11em;
  text-align: center;
  color: #efefef;
  border: none;
  border-radius: 50%;
}
.cart__btn_active .cart__count {
  background-color: #ff0081;
}

@media (min-width: 1261px) {
  .burger {
    display: none;
  }
}
@media (max-width: 1320px) {
  .header .container {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .header .tel__link {
    padding: 13px 35px;
  }
}
@media (max-width: 1260px) {
  .header .cart {
    margin-left: auto;
  }
  .header .navbar__list {
    margin: 0 auto;
    padding: 120px 0 70px;
    width: 320px;
    height: 100vh;
    position: fixed;
    z-index: 15;
    top: 0;
    right: -100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    background: #000;
    transition: all 0.3s ease-in-out;
    overflow-y: auto;
  }
  .header .navbar__list_open {
    right: 0;
    opacity: 1;
  }
  .header .navbar__list li {
    transform: translateX(60px);
    opacity: 0;
    transition: all 0.3s ease;
  }
  .header .navbar__list .navbar__link {
    font-size: 3rem;
    line-height: 1;
    color: white;
  }
  .header .navbar__list_open li {
    transform: translateX(0);
    opacity: 1;
  }
  .header .navbar__list_open li:nth-child(1) {
    transition-delay: 0.4s;
  }
  .header .navbar__list_open li:nth-child(2) {
    transition-delay: 0.5s;
  }
  .header .navbar__list_open li:nth-child(3) {
    transition-delay: 0.6s;
  }
  .header .navbar__list_open li:nth-child(4) {
    transition-delay: 0.7s;
  }
  .header .navbar__list_open li:nth-child(5) {
    transition-delay: 0.8s;
  }
  .header .navbar__list_open li:nth-child(6) {
    transition-delay: 0.9s;
  }
}
@media (max-width: 768px) {
  .header .container {
    flex-wrap: wrap;
  }
  .header .tel {
    width: 100%;
    order: 10;
  }
}
@media (max-width: 350px) {
  .header .container {
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .burger {
    margin-left: 20px;
  }
}
.burger {
  padding: 0;
  width: 40px;
  height: 30px;
  position: relative;
  z-index: 20;
  cursor: pointer;
  background-color: transparent;
}
.burger__line {
  width: 100%;
  height: 3px;
  display: block;
  position: absolute;
  left: 20px;
  background-color: #74b3e0;
}
.burger .burger__line:nth-child(1) {
  top: 1px;
  transform: translateX(-50%) translateY(0);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
}
.burger .burger__line:nth-child(2) {
  top: 13px;
  opacity: 1;
  transform: translateX(-50%);
}
.burger .burger__line:nth-child(3) {
  top: 25px;
  transform: translateX(-50%) translateY(0);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
}
.burger_open .burger__line:nth-child(1) {
  top: 50%;
  transform: translateX(-50%) translateY(0) rotate(45deg);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
}
.burger_open .burger__line:nth-child(2) {
  opacity: 0;
}
.burger_open .burger__line:nth-child(3) {
  top: 50%;
  transform: translateX(-50%) translateY(0) rotate(-45deg);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
}
.burger_open .burger__line {
  background-color: #74b3e0;
}
.burger:hover .burger__line {
  background: #ff0081;
}

.hero {
  height: 700px;
  text-align: left;
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% center;
}
.hero__title {
  margin-top: 80px;
  max-width: 600px;
}
.hero__btn {
  margin-top: 50px;
  padding: 15px 50px;
  font-size: 2.3rem;
  display: inline-block;
  background-color: #67adde;
  border-radius: 20px;
}

.advantages {
  margin-top: 50px;
  width: 100%;
  max-width: 740px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 15px;
}
.advantages__item {
  width: 100%;
  max-width: 220px;
  height: auto;
}
.advantages__text {
  margin-top: 8px;
  font-size: 1.6rem;
  color: #fff;
}

@media (max-width: 992px) {
  .hero__title {
    margin-top: 25px;
    font-size: 4rem;
  }
  .advantages {
    margin-top: 30px;
    max-width: 260px;
    justify-content: flex-start;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .advantages__item {
    max-width: 120px;
    text-align: center;
  }
  .advantages__text {
    font-size: 1.3rem;
  }
}
@media (max-width: 768px) {
  .hero {
    background-position: 82% center;
  }
  .hero__title {
    margin-top: 65px;
    max-width: 390px;
    font-size: 2.5rem;
  }
}
.timer {
  height: 330px;
  background-color: #67adde;
}
.timer__title {
  margin-top: 35px;
}
.timer__clock {
  margin-top: 45px;
}

.booking {
  padding: 0;
  font-size: 0;
  line-height: 0;
}
.booking__title {
  margin: 35px auto;
  max-width: 680px;
}
.booking__img {
  width: 100%;
  height: 205px;
  -o-object-fit: cover;
     object-fit: cover;
}
.booking__img_top {
  transform: scale(-1, 1);
}
.booking__img_down {
  transform: scale(1, -1);
}

.suggestions {
  padding-top: 30px;
  background-color: #67adde;
}
.suggestions .cards {
  margin: 45px 0 20px;
}

.seasons {
  padding-top: 0;
}
.seasons__img {
  width: 100%;
  min-height: 205px;
  -o-object-fit: cover;
     object-fit: cover;
}
.seasons__title {
  margin-top: 60px;
}

.benefits__subtitle {
  margin-top: 70px;
  margin-bottom: 40px;
  padding: 50px 0;
  color: #ff0081;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.benefits__list {
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 40px;
}
.benefits__item {
  width: calc(50% - 15px);
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  text-align: left;
}
.benefits__item::before {
  width: 90px;
  height: 90px;
  content: url(../img/svg/benefits/1.svg);
}

.benefit__number {
  margin-bottom: -5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: Days, sans-serif;
  font-size: 64px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: #efefef;
}
.benefit__text {
  font-size: 2.2rem;
  letter-spacing: 0.02em;
}

@media (max-width: 992px) {
  .benefits__list {
    flex-direction: column;
  }
  .benefits__item {
    width: 100%;
  }
  .benefits__subtitle {
    margin-top: 50px;
    padding: 30px 0;
    font-size: 1.8rem;
  }
  .benefit__number {
    margin-bottom: -2px;
    font-size: 3.5rem;
  }
  .benefit__text {
    font-size: 1.8rem;
  }
}
@media (max-width: 768px) {
  .benefits__subtitle {
    padding: 10px 0;
  }
}
.reviews {
  min-height: 755px;
  background-image: url(../img/reviews-bg.jpg);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.reviews__title {
  margin-top: 30px;
}
.reviews__subtitle {
  margin-top: 20px;
  font-size: 2.7rem;
}

.slider {
  position: relative;
}

.swiper {
  margin-top: 40px;
  padding: 0 0 37px;
  width: 100%;
  max-width: 1286px;
  height: 100%;
}
.swiper-slide {
  padding: 20px 20px 30px;
  height: auto;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  background-color: #fcfcfc;
  border-radius: 10px;
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination-bullet {
  width: 7px;
  height: 7px;
}
.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background-color: #67adde;
}
.swiper .slide__img img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid #67adde;
  border-radius: 50%;
}
.swiper .slide__body {
  text-align: left;
  width: calc(100% - 120px);
}
.swiper .slide__title {
  font-family: "Days", sans-serif;
  font-size: 2.7rem;
}
.swiper .slide__date {
  margin-top: 5px;
  display: inline-block;
  font-size: 1.8rem;
  letter-spacing: 0.02em;
  color: #969696;
}
.swiper .slide__text {
  margin-top: 10px;
  font-size: 2rem;
  letter-spacing: 0.02em;
}
.swiper__arrow {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 180px;
  z-index: 100;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.swiper__arrow_left {
  left: calc(0% - 25px);
  background-image: url("../img/svg/arrow.svg");
}
.swiper__arrow_right {
  right: calc(0% - 25px);
  background-image: url("../img/svg/arrow.svg");
  transform: scale(-1, 1);
}

@media (min-width: 768px) {
  .slide__header-img {
    display: none;
  }
}
.swiper__arrow_left {
  left: calc(0% - 45px);
}
.swiper__arrow_right {
  right: calc(0% - 45px);
}

.swiper__arrow_left {
  left: calc(0% - 60px);
}
.swiper__arrow_right {
  right: calc(0% - 60px);
}

@media (max-width: 1179px) {
  .swiper__arrow {
    width: 30px;
    height: 30px;
  }
  .swiper__arrow_left {
    left: calc(0% - 45px);
  }
  .swiper__arrow_right {
    right: calc(0% - 45px);
  }
}
.swiper__arrow_left {
  left: calc(0% - 35px);
}
.swiper__arrow_right {
  right: calc(0% - 35px);
}

@media (max-width: 768px) {
  .swiper {
    width: 80%;
  }
  .swiper__arrow_left {
    left: calc(0% - 5px);
  }
  .swiper__arrow_right {
    right: calc(0% - 5px);
  }
  .swiper .slide__img {
    display: none;
  }
  .swiper .slide__body {
    width: 100%;
  }
  .swiper .slide__header {
    display: flex;
    align-items: center;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .swiper .slide__header-img {
    width: 60px;
    height: 60px;
  }
  .swiper .slide__header .slide__title {
    font-size: 1.6rem;
  }
  .swiper .slide__header .slide__date {
    font-size: 1.3rem;
  }
  .swiper .slide__text {
    font-size: 1.6rem;
  }
}
.partners__title {
  margin-top: 40px;
}
.partners .marquee {
  margin-top: 40px;
  width: 100%;
  overflow: hidden;
}
.partners .marquee__content {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  -webkit-animation: marquee 30s linear infinite;
          animation: marquee 30s linear infinite;
}
.partners .marquee__content span {
  margin-left: 70px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  -moz-column-gap: 70px;
       column-gap: 70px;
}
.partners .marquee__img {
  width: auto;
  height: auto;
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
[class*=copyrights-pane] {
  display: none !important;
}

.ya_map {
  font-family: arial;
  font-size: 12px;
  color: #454545;
}

.map {
  padding: 0;
  width: 100%;
  height: 570px;
  position: relative;
  background-image: url("../img/map.jpg");
  background-position: 25% center;
  background-size: cover;
  background-repeat: no-repeat;
}
.map .contacts {
  padding: 40px 20px 25px 40px;
  width: 100%;
  max-width: 642px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 10vw;
  z-index: 5;
  text-align: left;
  color: #000;
  background-color: #fff;
}
.map .contacts__title {
  font-size: 4.8rem;
}
.map .contacts__body {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-size: 2rem;
}
.map .contacts__address::before {
  width: 27px;
  height: 36px;
  content: url(../img/svg/map/map.svg);
}
.map .contacts__phone::before {
  width: 28px;
  height: 29px;
  content: url(../img/svg/map/phone.svg);
}
.map .contacts .mail-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 16px;
}
.map .contacts__address, .map .contacts__phone,
.map .contacts .mail__item, .map .contacts__schedule {
  display: flex;
  align-items: center;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
.map .contacts .mail__item::before {
  width: 28px;
  height: 23px;
  content: url(../img/svg/map/mail.svg);
}
.map .contacts .mail__linck, .map .contacts__days {
  display: flex;
  flex-direction: column;
  row-gap: 0;
  line-height: 1;
}
.map .contacts .mail__linck .text-secondary {
  font-size: 1.8rem;
}
.map .contacts__schedule::before {
  width: 28px;
  height: 28px;
  content: url(../img/svg/map/clock.svg);
}
.map .contacts__footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.map .contacts .social-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.map .contacts .grade {
  margin-left: auto;
  width: 220px;
  height: 60px;
  background-color: #dedede;
}

.footer {
  padding: 45px 0 80px;
  background-color: #67adde;
  color: #fff;
}
.footer .container {
  display: flex;
  justify-content: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 15px;
}
.footer .logo {
  text-align: left;
}
.footer .logo__img {
  width: 310px;
  height: auto;
}
.footer .logo__descr {
  margin-top: 20px;
  width: 100%;
  max-width: 270px;
  font-size: 1.6rem;
  letter-spacing: 0.02em;
  color: #fff;
}
.footer .menu {
  display: flex;
  align-items: center;
  -moz-column-gap: 65px;
       column-gap: 65px;
}
.footer .menu__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 35px;
       column-gap: 35px;
  row-gap: 15px;
}
.footer .menu__link {
  font-size: 2rem;
  line-height: 1.05;
  color: #fff;
  white-space: nowrap;
}
.footer .menu__btn {
  padding: 11px 38px 10px;
  font-weight: 500;
  border: 1px solid #efefef;
  text-transform: uppercase;
}
.footer__text {
  margin-top: 40px;
  max-width: 770px;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: left;
}

@media (min-width: 993px) {
  .footer__text_bottom {
    display: none;
  }
}
@media (max-width: 992px) {
  .footer {
    padding-bottom: 60px;
  }
  .footer .container {
    flex-wrap: wrap;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
  .footer .logo__img {
    width: 268px;
  }
  .footer__text {
    display: none;
  }
  .footer .menu__list {
    flex-direction: column;
  }
  .footer__text_bottom {
    margin-top: 25px;
    font-size: 1.6rem;
    letter-spacing: 0.02em;
    text-align: left;
  }
}
@media (max-width: 768px) {
  .footer {
    padding-top: 35px;
    padding-bottom: 40px;
  }
}
@media (max-width: 420px) {
  .footer {
    padding-bottom: 35px;
  }
  .footer .menu {
    flex-direction: column-reverse;
    row-gap: 15px;
  }
}/*# sourceMappingURL=style.css.map */